<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to 'List', samples_path %><i class="fa"></i>
  </li>
  <li>
    <%= link_to 'Create', new_sample_path %><i class="fa"></i>
  </li>
  <li class="disabled">
    <a href="#read-tab" id="read-tab-link">Read <i class="fa"></i></a>
  </li>
  <li class="disabled">
    <a href="#update-tab" id="update-tab-link" data-toggle="tab">Update <i class="fa"></i></a>
  </li>
  <li>
    <button class="btn btn-primary" data-toggle="modal" data-target="#mymodal">検索</button>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="list-tab">
    <table class="table">
      <thead>
      <tr>
        <th>名前</th>
        <th>電話番号</th>
      </tr>
      </thead>
      <tbody>
      <% @samples.each do |sample| %>
          <tr>
            <td><%= sample.name %></td>
            <td><%= sample.phone_number %></td>
            <td><%= link_to '詳細表示', sample, class:'btn btn-default' %></td>
            <td><%= link_to '更新', edit_sample_path(sample), class:'btn btn-default' %></td>
            <td><%= link_to '削除', sample, class:'btn btn-default',method: :delete, data: { confirm: '削除します' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <div class="tab-pane" id="create-tab">
  </div>

  <div class="tab-pane" id="read-tab">
  </div>

  <div class="tab-pane" id="update-tab">
  </div>
</div>


<div class="modal" role="dialog" area-hidden="true" id="mymodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- ヘッダー -->
      <div class="modal-header">
        <!-- [x]ボタン -->
        <button class="close" data-dismiss="modal" aria-hidden="true">
          &times;</button>
        <h4 class="modal-title">タイトル</h4>
      </div>
      <!-- 本文 -->
      <div class="modal-body">
        <%= form_tag({ controller: :samples, action: :index}, :method => :get, id: :fm, class: :search) do %>
            <div class="form-group">
              <%= label :name, :name, '名前', class: 'col-xs-3 control-label' %>
              <%= text_field :sample, :name, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= label :phone_number, :name, '電話番号', class: 'col-xs-3 control-label' %>
              <%= text_field :sample, :phone_number, class: 'form-control' %>
            </div>

            <%= submit_tag '検索', class: 'btn btn-default' %>
        <% end %>
      </div>
      <!-- フッター -->
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>