<tr>
  <td><%= sample.name %></td>
  <td><%= sample.phone_number %></td>
  <td><%= link_to '詳細表示', sample, remote: true , class: 'show-sample btn btn-primary' %></td>
  <td><%= link_to '更新', sample, remote: true , class: 'update-sample btn btn-primary' %></td>
  <td><%= link_to '削除', sample, remote: true , class: 'delete-sample btn btn-danger' %></td>
</tr>
